{{- if not .Values.postgres.credentials.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "postgres.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "postgres.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.postgres.credentials.database }}
  POSTGRESQL_DATABASE: {{ .Values.postgres.credentials.database | b64enc }}
  {{- end }}
  {{- if .Values.postgres.credentials.user }}
  POSTGRESQL_USER: {{ .Values.postgres.credentials.user | b64enc }}
  {{- end }}
  {{- if .Values.postgres.credentials.password }}
  POSTGRESQL_PASSWORD: {{ .Values.postgres.credentials.password | b64enc }}
  {{- else }}
  {{- fail "postgres.credentials.password is required when not using existingSecret!" }}
  {{- end }}
  {{- if .Values.postgres.credentials.postgresUserPassword }}
  POSTGRESQL_ADMIN_PASSWORD: {{ .Values.postgres.credentials.postgresUserPassword | b64enc }}
  {{- end }}
{{- end }}